.verticalLayout {
  .v-app-bar {
    .v-toolbar__content {
      padding: 0 20px;
      max-width: 1300px;
      margin: 0 auto;
      background-color: rgba(var(--v-theme-containerBg));
      border-radius: 18px;
      box-shadow: 0 2px 6px rgba(37, 83, 185, 0.1);

      > .v-btn:first-child {
        margin-inline-start: 0;
      }
    }

    &.v-toolbar {
      top: 20px;
      background-color: rgba(var(--v-theme-background));
      z-index: 2;
      max-width: 1300px;
      margin: 0 auto;
      left: 290px;
      right: 0;
      border-radius: 15px;
      box-shadow: 0 2px 6px rgba(37, 83, 185, 0.1);
    }

    &.sticky {
      top: 0;
    }
  }

  &.mini-sidebar {
    .v-app-bar {
      &.v-toolbar {
        left: 85px;
      }
    }
  }
}

@media screen and (max-width: 1600px) and (min-width: 1280px) {
  .verticalLayout {
    .v-app-bar.v-toolbar {
      max-width: calc((100% - 270px) - 60px);
    }
  }
}

@media screen and (max-width: 1279px) {
  .verticalLayout {
    .v-app-bar.v-toolbar {
      max-width: calc(100% - 40px - 0px);
      left: 0;
    }
  }

  .v-main {
    padding-left: calc(var(--v-layout-left) + 0px);
  }
}

@media screen and (max-width: 767px) {
  .verticalLayout {
    .v-app-bar.v-toolbar {
      max-width: calc(100% - 30px - 0px);
    }
  }
}
